<table class="table table-bordered">

  <thead class="bg-light">
    <th class="text-center">#</th>
    <th>Object</th>
    <th class="text-center">Read?<i class="fas ml-2"></th>
  </thead>

  <tbody>
    <% @emails.order(:id).each do |email| %>
    <tr>
      <td class="text-center">
        <%= email.id %>
      </td>
        <% if email.read %>
        <td>
          <%= email.object %>
        <% else %>
          <td style="background-color:yellow">
          <div style="color:red;font-style:italic"><%= email.object %></div>
        <% end %>

      </td>
      <% if email.read %>
      <td class="text-center">
        <%= link_to '<i class="far fa-envelope-open"></i>'.html_safe, email_path(email.id), remote: true %>
      </td>
      <% else %>
      <td class="text-center">
        <%= link_to '<i class="far fa-envelope"></i>'.html_safe, email_path(email.id), remote: true, style: 'color: red;' %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>

</table>